body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    scroll-behavior: smooth;
    overflow-x: hidden;
}
.logo-img{
    width:60px;
    border-radius: 25px;
}
.menu-logo{
    width:45px;
   
}

header {
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    text-align: center;
}

header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('Assets/hotel.jpg') no-repeat center center/cover;
    filter: brightness(50%);
    z-index: -1;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 15px 0;
    z-index: 100;
}

nav .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    width: 100%;
}

nav .logo {
    color: #fff;
    text-decoration: none;
    font-size: 2em;
    font-weight: bold;
}

nav .nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 20px;
}

nav .nav-links li {
    margin: 0;
}

nav .nav-links a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav .nav-links a:hover {
    background-color: #ff6347;
}

nav .nav-toggle {
    display: none;
}

nav .nav-toggle i {
    color: #fff;
    font-size: 2em;
    cursor: pointer;
}

.hero-content {
    max-width: 700px;
    margin: 0 auto;
}

.hero-content h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.hero-content .btn {
    background-color: #ff6347;
    color: #fff;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2em;
}

.btn-1 {
    background-color: #ff6347;
    color: #fff;
    padding: 15px 30px;
    border-radius: 5px;
    font-size: 1 em;
    border: none;
}

.hero-content .btn:hover {
    background-color: #e5533f;
}

section {
    padding: 20px 20px;
}

.container {
    max-width:1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.about-content, .menu-grid, .gallery-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-content img {
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
    transition: transform 0.6s ease-in-out, filter 0.6s ease-in-out;
}
.about-content img:hover {
    transform: scale(0.95);
    filter: brightness(0.7); 
}


.menu-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}


.menu-item img {
    width: 100%;
    object-fit: cover; 
    border-radius: 20px;
    transition: transform 0.3s ease; 
}


.menu-item h3 {
    font-size: 1.8em;
    margin: 15px 0 10px;
}

.menu-item p {
    font-size: 1.2em;
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.gallery-item {
    overflow: hidden;
    border-radius: 10px;
}

.gallery-item img {
    width: 100%;
    transition: transform 0.3s ease;
    height:200px;
   
}

.gallery-item:hover img {
    transform: scale(1.1); 
    filter: brightness(0.7);
}

.contact-info, .contact-form {
    max-width: 600px;
    margin: 0 auto;
}

.contact-info p, .contact-form p {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.contact-form .form-group {
    margin-bottom: 20px;
}

.contact-form .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.contact-form .form-group input, .contact-form .form-group textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

.contact-form .form-group input:focus, .contact-form .form-group textarea:focus {
    border-color: #ff6347;
    outline: none;
}
.map-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.map-container iframe {
    
    height: 300px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-content p {
    margin-bottom: 15px;
}

.social-media {
    display: flex;
    gap: 15px;
}

.social-media a {
    display: inline-block;
    width: 24px;
    height: 24px;
}

.social-media img {
    width: 24px;
    height: 24px;
    transition: transform 0.3s;
}

.social-media img:hover {
    transform: scale(1.1);
}


@media (max-width: 768px) {
    nav .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.9);
        z-index: 99;
    }

    nav .nav-links.show {
        display: flex;
    }

    nav .nav-toggle {
        display: block;
    }

    nav .nav-toggle i {
        display: block;
    }
    .map-container iframe {
        width: 100%;
        height: 300px;
    }
}

@media (min-width: 769px) {
    nav .nav-toggle {
        display: none;
    }

    nav .nav-links {
        display: flex !important;
    }
}
@media (max-width: 480px) {
    .hero h1 {
        font-size: 2rem;
    }

    .hero p {
        font-size: 1rem;
    }

    .menu-item {
        width: 100%;
              
    }

    .gallery-grid {
        grid-template-columns: 1fr;
    }

    .map-container iframe {
        width: 100%;
        height: 300px;
    }
}


@media (max-width: 320px) {
    body, html {
        font-size: 14px;
    }

    nav {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
    }

    .logo {
        margin-bottom: 10px;
    }

    .nav-toggle {
        margin-left: auto;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.9);
        position: absolute;
        top: 60px;
        right: 0;
        padding: 10px 0;
        text-align: center;
    }

    .nav-links.show {
        display: flex;
    }

    .nav-links li {
        margin: 10px 0;
    }

    .hero h1 {
        font-size: 1.5rem;
    }

    .hero p {
        font-size: 1rem;
        margin-bottom: 10px;
    }

    .btn {
        padding: 8px 15px;
        font-size: 0.9rem;
    }

    .about-content img {
        width: 100%;
        margin-bottom: 20px;
    }

    .menu-item {

        width: 80%;
        margin-bottom: 20px;
    
    }

    .gallery-grid {
        grid-template-columns: 1fr;
        gap: 10px;
    }

    .gallery-item img {
        width: 100%;
        transition: transform 0.3s ease;     
        height: auto;
       
    }

    .contact-info, .contact-form {
        padding: 0 20px;
    }

    .map-container iframe {
        width: 100%;
        height: 200px;
        margin-top: 20px;
    }

    .footer-content {
        padding: 10px;
    }

    .social-media img {
        width: 20px;
        height: auto;
    }
}
